

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.search-label {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.joke-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.random-joke {
    display: block;
}

