body {
    background-color: antiquewhite;
    padding-top: 100px;
    font-family: sa;
}

.search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

